body{
    margin: 0;
    background-color: whitesmoke;
}
/******Header******/
.Khung{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.Khungmenu{
    float: right;
    margin-left: 25px;
    margin-top: 4px;
}
nav a{
    color:gray;
    font-weight: bold;
    text-decoration: none;
    padding: 0 20px;
    font-size: 20px;
}
.banner>img{
    width: 100%;
    height: 350px;
}
/******footer******/
footer{
    background-color: gainsboro;
    min-height: 500px;
    clear: both;
}
footer .Khung div{
    float: left;
}
.cl2,.cl3{
    width: 20%;
} 
.cl1,.cl4{
    width: 30%;
}
.cl1>p{
    text-align:left;
}
.cl1>img{
    width: 40%;
    height: 50px;
}
.Link{
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
    margin-bottom: 15px;
}
.cl2 h2
{
    font-size: 20px;
    color: orange;
}
.cl3 h2
{
    font-size: 20px;
    color: orange;
}
.cl4 h2
{
    font-size: 20px;
    color: orange;
}
footer>img{
    margin-left: 30px;
    margin-top: 5px;
}